{% extends "layout.html" %}

{% block head %}<style>
#sideNavBar {
    display: none;
}
#upToTopSVG {
  display: initial;
}
</style>{% endblock %}

{% block title %}Glossary{% endblock %}

{% block img0url %}https://static.igem.wiki/teams/4190/wiki/banner-photos-cause-we-don-t-have-enough-gifs/banner-gif/ezgif-3-5d99d8ffce.gif{% endblock %}
{% block img0desc %}{% endblock %}

{% block header %}

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ self.img0url() }}" class="d-block" alt="{{ self.img0desc() }}">
        <div class="carousel-caption">
          <h1>{{ self.title() }}</h1>
          <h4>{{ self.img0desc() }}</h4>
        </div>
      </div>
    </div>

{% endblock %}
{% block page_content %}
<div id = "glossaryTopMargin">
<a class = "glossaryButton" href = "#A">A</a>
<a class = "glossaryButton" href = "#B">B</a>
<a class = "glossaryButton" href = "#C">C</a>
<a class = "glossaryButton" href = "#D">D</a>
<a class = "glossaryButton" href = "#E">E</a>
<a class = "glossaryButton" href = "#F">F</a>
<a class = "glossaryButton" href = "#G">G</a>
<a class = "glossaryButton" href = "#H">H</a>
<a class = "glossaryButton" href = "#I">I</a>
<a class = "glossaryButton" href = "#J">J</a>
<a class = "glossaryButton" href = "#K">K</a>
<a class = "glossaryButton" href = "#L">L</a>
<a class = "glossaryButton" href = "#M">M</a>
<a class = "glossaryButton" href = "#N">N</a>
<a class = "glossaryButton" href = "#O">O</a>
<a class = "glossaryButton" href = "#P">P</a>
<a class = "glossaryButton" href = "#Q">Q</a>
<a class = "glossaryButton" href = "#R">R</a>
<a class = "glossaryButton" href = "#S">S</a>
<a class = "glossaryButton" href = "#T">T</a>
<a class = "glossaryButton" href = "#U">U</a>
<a class = "glossaryButton" href = "#V">V</a>
<a class = "glossaryButton" href = "#W">W</a>
<a class = "glossaryButton" href = "#X">X</a>
<a class = "glossaryButton" href = "#Y">Y</a>
<a class = "glossaryButton" href = "#Z">Z</a>
<a class = "glossaryButton" href = "#number">#</a>

<h2 class = "letterHeader" id = "A">A</h4>
<div class = "glossaryItem">
  <h5 id = "A1C" class = "glossaryItemHeader">A1C</h5>
  <p> A form of hemoglobin that is chemically linked to a sugar.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Agonist" class = "glossaryItemHeader">Agonist</h5>
  <p>Substance that binds to a receptor, producing a similar effect as the intended ligand.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Amplicon" class = "glossaryItemHeader">Amplicon</h5>
  <p>DNA sequence that is amplified in PCR.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "AMT" class = "glossaryItemHeader">AMT</h5>
  <p>Agrobacterium-mediated transformation, integration bacterial DNA into a host plant cell for plant genetic engineering.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Auxotrophic" class = "glossaryItemHeader">Auxotrophic</h5>
  <p>Characteristic of an organism that has lost the ability to synthesize certain substances required for their growth.</p>
</div>

<h2 class = "letterHeader" id = "B">B</h4>
<div class = "glossaryItem">
  <h5 id = "Beta-Cell" class = "glossaryItemHeader">Beta Cell</h5>
  <p>Cells found within the pancreas responsible for insulin secretion.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Binding-Affinity" class = "glossaryItemHeader">Binding Affinity</h5>
  <p>The strength of a binding interaction between a receptor and a ligand.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Bioavailability" class = "glossaryItemHeader">Bioavailability</h5>
  <p>The amount of an administered drug present in circulation, enabling it to have an effect.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Bioencapsulation" class = "glossaryItemHeader">Bioencapsulation</h5>
  <p>The containment of a biologically active substance in a membrane to protect it from its environment.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "BL21" class = "glossaryItemHeader">BL21</h5>
  <p>Strain of <i>E. coli</i> used for protein production.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "BSL-1" class = "glossaryItemHeader">BSL-1</h5>
  <p> Biosafety Level 1. Laboratories at this safety level are characterized by solely working with microbes that are not known to consistently cause disease in healthy adults and present minimal potential hazards.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Blood-sugar" class = "glossaryItemHeader">Blood Sugar</h5>
  <p>Measure of glucose concentrated in the blood. 
</p>
</div>

<h2 class = "letterHeader" id = "C">C</h4>
<div class = "glossaryItem">
  <h5 id = "C41" class = "glossaryItemHeader">C41</h5>
  <p>Strain of <i>E. coli</i> used for protein production.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Cut-site" class = "glossaryItemHeader">Cut site</h5>
  <p>Location for post-transformation cleavage.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "CRISPR-Cas9" class = "glossaryItemHeader">CRISPR-Cas9</h5>
  <p>A CRISPR-associated (Cas) endonuclease that acts as “molecular scissors” to cut DNA at a location specified by a guide RNA. CRISPR-Cas9 edits genes by precisely cutting DNA and then letting natural DNA repair processes take over. 
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Colony-PCR" class = "glossaryItemHeader">Colony PCR</h5>
  <p>Polymerase chain reaction performed to verify genetic material within one, unqiue group of microorganisms.
</p>
</div>

<h2 class = "letterHeader" id = "D">D</h4>
<div class = "glossaryItem">
  <h5 id = "DH10B" class = "glossaryItemHeader">DH10B</h5>
  <p>Strain of <i>E. coli</i> used for genetic expression.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "DH5α" class = "glossaryItemHeader">DH5α</h5>
  <p>Strain of <i>E. coli</i> used for genetic expression.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Discord" class = "glossaryItemHeader">Discord</h5>
  <p>A free Voice-over-IP and instant messaging social platform. Communities reside on persistent chat room “servers”, which contain categorical voice and text channels for organized media sharing and communication.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Dissociation-Constant" class = "glossaryItemHeader">Dissociation Constant</h5>
  <p>An equilibrium constant representing the capacity for a molecular complex to separate into its constituents.
</p>
</div>


<h2 class = "letterHeader" id = "E">E</h4>
<div class = "glossaryItem">
  <h5 id = "ELISA" class = "glossaryItemHeader">ELISA</h5>
  <p>Enzyme-linked immunosorbent assay is a plate-based assay technique made for detecting and quantifying soluble substances such as peptides, proteins, antibodies, and hormones.

</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Enterokinase" class = "glossaryItemHeader">Enterokinase</h5>
  <p>A protease of the intestinal brush border that specifically cleaves the acidic propeptide from trypsinogen to yield active trypsin.
</p>
</div>

<div class = "glossaryItem">
  <h5 id = "E_coli" class = "glossaryItemHeader"><i>E. coli</i></h5>
  <p><i>E. coli</i> (<i>Escherichia coli</i>), a gram-negative bacteria that is often used as a model organsim for synthetic biology due to its fast growth in cheap medium as well as being easily engineerable. 
</p>
</div>

<div class = "glossaryItem">
  <h5 id = "Eukaryote" class = "glossaryItemHeader">Eukaryote</h5>
  <p>Organisms with cells that have a nucleus and membrane bound organelles.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Ex-4" class = "glossaryItemHeader">Ex-4</h5>
  <p>Exendin-4, a 39-amino acid peptide incretin.</p>
</div>


<h2 class = "letterHeader" id = "F">F</h4>
<div class = "glossaryItem">
  <h5 id = "FDA" class = "glossaryItemHeader">U.S. Food and Drug Administration (FDA)</h5>
  <p>The governmental organization tasked with monitoring food and drug safety in the United States.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Fractional-Occupancy" class = "glossaryItemHeader">Fractional Occupancy</h5>
  <p>The proportion of bound receptors to the total amount of receptors.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "FPLC" class = "glossaryItemHeader">FPLC</h5>
  <p>Fast Protein Liquid Chromatography, a high performance chromatography machine. </p>
</div>

<h2 class = "letterHeader" id = "G">G</h4>
<div class = "glossaryItem">
  <h5 id = "GAL1-promoter" class = "glossaryItemHeader">GAL1 promoter</h5>
  <p>The GAL1 promoter is one of the strongest inducible promoters in the yeast <i>S. cerevisiae</i>. Commonly used for recombinant protein production. 
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Gastrointestinal-Barrier" class = "glossaryItemHeader">Gastrointestinal Barrier</h5>
  <p>Mucus found within the intestine that prevents absorbance of unwanted contents while still allowing uptake of nutrients.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "GLP-1" class = "glossaryItemHeader">Glucagon-Like Peptide 1 (GLP-1)</h5>
  <p>An intestinal hormone that exerts profound effects in stimulating glucose-dependent insulin secretion.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "GLP-1-R" class = "glossaryItemHeader">Glucagon-Like Peptide 1 Receptor (GLP-1 R)</h5>
  <p>A protein involved in the control of blood sugar level by enhancing insulin secretion when bound to GLP-1.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "GLP-1-RA" class = "glossaryItemHeader">Glucagon-Like Peptide 1 Receptor Agonist (GLP-1 RA)</h5>
  <p>A peptide that mimics the effects of GLP-1 on the GLP-1 R. Commonly prescribed as a T2D medication.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "GRAS" class = "glossaryItemHeader">Generally Recognized as Safe (GRAS)</h5>
  <p>A chemical or substance added to food that is considered safe by experts under the conditions of its intended use.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "GGA" class = "glossaryItemHeader">Golden Gate Assembly (GGA)</h5>
  <p>A modular assembly method by which multiple DNA fragments can be simultaneously integrated into a plasmid backbone without genetic scarring.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Glycemic-Index" class = "glossaryItemHeader">Glycemic Index</h5>
  <p>A system of assigning a number to carbohydrate-containing foods according to how much each food increases blood sugar. </p>
</div>
<div class = "glossaryItem">
  <h5 id = "Gila-Monster" class = "glossaryItemHeader">Gila Monster (<i>Heloderma suspectum</i>)</h5>
  <p>A species of venomous lizard native to the Southwestern United States.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "G418" class = "glossaryItemHeader">G418</h5>
  <p>G418 Sulfate is an aminoglycoside related to Gentamicin and is toxic to bacteria, yeast, higher plants, mammalian cells, protozoans and helminths. G418 Sulfate is an effective selecting agent utilized in killing prokaryotic and eukaryotic cells.
</p>
</div>

<h2 class = "letterHeader" id = "H">H</h4>
<div class = "glossaryItem">
  <h5 id = "half-life" class = "glossaryItemHeader">Half-Life</h5>
  <p> The amount of time it takes for a substance to decrease its concentration by half.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Homologous-Recombination" class = "glossaryItemHeader">Homologous Recombination</h5>
  <p> A type of genetic recombination in which information is exchanged between two similar or identical molecules of double-stranded or single-stranded nucleic acids.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Homology-region" class = "glossaryItemHeader">Homology Region</h5>
  <p> Sequence designed to promote Homologous Recombination.
</p>

</div>
<div class = "glossaryItem">
  <h5 id = "His-Tag" class = "glossaryItemHeader">Histidine-tag (His-Tag)</h5>
  <p>A string of histidine residues used for identification and purification of protein. </p>
</div>

<h2 class = "letterHeader" id = "I">I</h4>
<div class = "glossaryItem">
  <h5 id = "IMAC" class = "glossaryItemHeader">Immobilized Metal-Affinity Chromatography (IMAC):</h5>
  <p>A procedure where peptides are separated according to their affinity for metal ions that have been immobilized by chelation to an insoluble matrix.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Incretin" class = "glossaryItemHeader">Incretin</h5>
  <p>Gut peptides that are secreted after nutrient intake and stimulate insulin secretion.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "in-silico" class = "glossaryItemHeader"><i>in silico</i></h5>
  <p>Experiments occurring on a computer, usually through a computer simulation.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "in-vitro" class = "glossaryItemHeader"><i>in vitro</i></h5>
  <p>Experiments on cells and biological molecules outside of their natural context, occurring in a controlled setting such as a petri dish.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "in-vivo" class = "glossaryItemHeader"><i>in vivo</i></h5>
  <p>Experiments occurring in whole living organisms such as a mouse, or a Gila monster.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "IPTG" class = "glossaryItemHeader">Isopropyl-Beta-D-1-thiogalactopyranoside (IPTG)</h5>
  <p>A lactose metabolite that triggers transcription of the lac operon, and it is therefore used to induce protein expression where the gene is under the control of the lac operator.</p>
</div>

<h2 class = "letterHeader" id = "J">J</h4>

<h2 class = "letterHeader" id = "K">K</h4>
<div class = "glossaryItem">
  <h5 id = "kD" class = "glossaryItemHeader">Kilodalton (kD)</h5>
  <p>A measurement of weight for peptides and proteins. 
</p>
</div>


<h2 class = "letterHeader" id = "L">L</h4>
<div class = "glossaryItem">
  <h5 id = "L-cells" class = "glossaryItemHeader">L cells</h5>
  <p>Secrete GLP-1s, an incretin, peptide YY3-36, oxyntomodulin, and glucagon-like peptide-2.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "LEU2" class = "glossaryItemHeader">LEU2</h5>
  <p>Leucine biosynthesis gene found in <a class = "citation" href = "https://www.yeastgenome.org/locus/S000000523"><i>S. cerevisiae</i></a>

</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Ligand" class = "glossaryItemHeader">Ligand</h5>
  <p>An atom or molecule that binds to a protein receptor.
</p>
</div>

<h2 class = "letterHeader" id = "M">M</h4>
<div class = "glossaryItem">
  <h5 id = "M-Cell" class = "glossaryItemHeader">M Cell</h5>
  <p>Cells found within the intestinal epithelium that direct antigens from the lumen to the underlying lymphoid tissue, often hijacked by pathogens to invade the host.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "mg-int-leu2-kan-1420" class = "glossaryItemHeader">mg-int-leu2-kan-1420</h5>
  <p>LEU2 integrative <i>S. cerevisea</i> plasmid constructed by the Kamakaka Lab using the Yeast Moclo library[DOI: 10.1021/sb500366v], donated to our team by Dr. Rohinton Kamakaka. 
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "mg-int-trp1-hyg-1432-4a" class = "glossaryItemHeader">mg-int-trp1-hyg-1432-4a
</h5>
  <p>TRP1 integrative <i>S. cerevisiae</i> plasmid constructed by the Kamakaka Lab using the Yeast Moclo library[DOI: 10.1021/sb500366v], donated to our team by Dr. Rohinton Kamakaka. 
 
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "MoClo" class = "glossaryItemHeader">Modular Cloning Library (MoClo)</h5>
  <p>Provides resources for easy, one-step constructions of yeast plasmids through GGA. Predesigned plasmid parts can be interchanged quickly, allowing for easy testing of multiple plasmid constructs.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Mutagenesis" class = "glossaryItemHeader">Mutagenesis</h5>
  <p>The mutation of genetic material.</p>
</div>

<h2 class = "letterHeader" id = "N">N</h4>

<h2 class = "letterHeader" id = "O">O</h4>
<div class = "glossaryItem">
  <h5 id = "Octet-Machine" class = "glossaryItemHeader">Octet Machine</h5>
  <p>A machine that measures binding affinity between a protein and its associated receptor.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "OD" class = "glossaryItemHeader">Optical Density (OD)</h5>
  <p>Measurement of absorbancy.</p>
</div>

<h2 class = "letterHeader" id = "P">P</h4>
<div class = "glossaryItem">
  <h5 id = "PCR" class = "glossaryItemHeader">Polymerase chain reaction (PCR)</h5>
  <p>A method used for amplification of a genetic sequence of interest</p>
</div>
<div class = "glossaryItem">
  <h5 id = "pET28:Ex-4" class = "pET28:Ex-4">pET28:Ex-4</h5>
  <p>pET28:GFP backbone with Ex-4 gene insert. </p>
</div>
<div class = "glossaryItem">
  <h5 id = "PGK1" class = "glossaryItemHeader">PGK1</h5>
  <p>PGK1 terminator for <i>S. cerevisiae</i>.</p>
</div>
<div class = "glossaryItem">
 <h5 id = "pLEU" class = "glossaryItemHeader">pLEU</h5>
  <p>Simplified name for mg-Int-leu2-kan-1420 plasmid.
</p>
</div>
<div class = "glossaryItem">
<h5 id = "pTRP" class = "glossaryItemHeader">pTRP</h5>
  <p>Simplified name for mg-int-trp1-hyg-1432-4a plasmid.
</p>
</div>
<div class = "glossaryItem">
<h5 id = "pTRP:Ex-4" class = "glossaryItemHeader">pTRP:Ex-4</h5>
  <p>pTRP plasmid backbone with Ex4 gene insert.
</p>
</div>
<div class = "glossaryItem">
<h5 id = "pLEU:Ex-4" class = "glossaryItemHeader">pLEU:Ex-4</h5>
  <p>pLEU plasmid backbone with Ex4 gene insert.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Primer dimers" class = "glossaryItemHeader">Primer dimers</h5>
  <p>Primer dimers consists of two primer molecules that have attached (hybridized) to each other because of strings of complementary bases in the primers.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Promoter" class = "glossaryItemHeader">Promoter</h5>
  <p>A region of DNA that initiates transcription in various environmental conditions.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Plasmid" class = "glossaryItemHeader">Plasmid</h5>
  <p>A circular piece of DNA typically found within bacteria.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Pharmacodynamics" class = "glossaryItemHeader">Pharmacodynamics</h5>
  <p>The study of the effect of drugs and their underlying mechanisms.</p>
</div>

<h2 class = "letterHeader" id = "Q">Q</h4>

<h2 class = "letterHeader" id = "R">R</h4>
<div class = "glossaryItem">
  <h5 id = "Receptor" class = "glossaryItemHeader">Receptor</h5>
  <p>A molecule in or on the surface of a cell that binds to a ligand, causing a specific effect.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Recombination" class = "glossaryItemHeader">Recombination</h5>
  <p>Method of combining genetic information from multiple species.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "ROY-4513" class = "glossaryItemHeader">ROY 4513</h5>
  <p><i>S. cerevisiae</i> strain containing wild type TRP1 gene. Donated to our team by Dr. Rohinton Kamakaka. </p>
</div>
<div class = "glossaryItem">
  <h5 id = "ROY-6783" class = "glossaryItemHeader">ROY 6783</h5>
  <p><i>S. cerevisiae</i> strain containing wild type LEU2 gene. Donated to our team by Dr. Rohinton Kamakaka. </p>
</div>
<h2 class = "letterHeader" id = "S">S</h4>

<div class = "glossaryItem">
  <h5 id = "S_cerevisiae" class = "glossaryItemHeader"><i>S. cerevisiae</i></h5>
  <p><i>Saccharomyces cerevisiae</i>, commonly known as baker's yeast, is a species of yeast that is commonly used for wine-making, baking, and brewing.
</p>
</div>

<div class = "glossaryItem">
  <h5 id = "Sanger-Sequencing" class = "glossaryItemHeader">Sanger Sequencing</h5>
  <p>A method for determining the nucleotide sequence of DNA
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "SDS-PAGE" class = "glossaryItemHeader">Sodium Dodecyl Sulfate-PolyAcrylamide Gel Electrophoresis (SDS-PAGE)</h5>
  <p>Method of analyzing proteins by weight.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Shine-Dalgarno" class = "glossaryItemHeader">Shine-Dalgarno</h5>
  <p>Ribosomal binding unit found in bacterial and archaeal DNA.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Sticky-Ends" class = "glossaryItemHeader">Sticky Ends</h5>
  <p> A DNA structure where one strand is longer than the other, leaving some bases unpaired and hanging off the double stranded portion.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "Surface-Proteins" class = "glossaryItemHeader">Surface Proteins</h5>
  <p>Proteins that are nested within or fully cross the cell membrane.</p>
</div>

<h2 class = "letterHeader" id = "T">T</h4>
<div class = "glossaryItem">
  <h5 id = "T2D" class = "glossaryItemHeader">Type II Diabetes Mellitus (T2D)</h5>
  <p>A condition characterized by insulin resistance. This means that individuals with T2D are very susceptible to hyperglycemia.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "TEV-protease" class = "glossaryItemHeader">TEV protease</h5>
  <p>Tobacco Etch Virus protease. Used in our experiment to cut the His-tag off of our GLP-1 R. </p>
</div>
<div class = "glossaryItem">
  <h5 id = "TEV" class = "glossaryItemHeader">Tobacco Etch Virus</h5>
  <p>A plant virus in the genus Potyvirus. </p>
</div>
<div class = "glossaryItem">
  <h5 id = "Transformation" class = "glossaryItemHeader">Transformation</h5>
  <p>Method of transferring exogenous genetic material into a host cell.
</p>
</div>
<div class = "glossaryItem">
  <h5 id = "TRP1" class = "glossaryItemHeader">TRP1</h5>
  <p>Tryptophan biosynthesis gene found in <a href = "https://www.yeastgenome.org/locus/S000002414" class = "citation"><i>S. cerevisiae</i>.</a>
</p>
</div>

<h2 class = "letterHeader" id = "U">U</h4>
<div class = "glossaryItem">
  <h5 id = "UCSC" class = "glossaryItemHeader">UCSC</h5>
  <p>University of California, Santa Cruz.</p>
</div>
<div class = "glossaryItem">
  <h5 id = "UCSF" class = "glossaryItemHeader">UCSF</h5>
  <p>University of California, San Francisco.</p>
</div>

<h2 class = "letterHeader" id = "V">V</h4>

<h2 class = "letterHeader" id = "W">W</h4>

<h2 class = "letterHeader" id = "X">X</h4>

<h2 class = "letterHeader" id = "Y">Y</h4>
<div class = "glossaryItem">
  <h5 id = "YPD" class = "glossaryItemHeader">Yeast Extract–Peptone–Dextrose (YPD)</h5>
  <p>Growth Media for yeast culturing.</p>
</div>

<h2 class = "letterHeader" id = "Z">Z</h4>

<h2 style = "margin-bottom:5vmax;" class = "letterHeader" id = "number">#</h4>



</div>
{% endblock %}
