{% extends "layout.html" %}

{% block title %}Example Page{% endblock %}

{% block img0url %}https://static.igem.wiki/teams/4190/wiki/ucsc-stock-photos/20120326-bio-med-cl-5-jpg.jpg{% endblock %}
{% block img0desc %}upward view of lab building, framed by trees{% endblock %}
{% block img1url %}https://static.igem.wiki/teams/4190/wiki/ucsc-stock-photos/20190410-beaker-ez-001.jpg{% endblock %}
{% block img1desc %}erlenmeyer flasks with test tubes resting in them{% endblock %}
{% block img2url %}https://static.igem.wiki/teams/4190/wiki/ucsc-stock-photos/kim-lab-7.jpg{% endblock %}
{% block img2desc %}falcon tubes on rack{% endblock %}


{% block header %}

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="{{ self.img0desc() }}"></button>
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="{{ self.img1desc() }}"></button>
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="{{ self.img2desc() }}"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="{{ self.img0url() }}" class="d-block" alt="{{ self.img0desc() }}">
        <div class="carousel-caption">
          <h1>{{ self.title() }}</h1>
          <h4>Put subtitle here explaining image context OR page content</h4>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">  <!-- dublicate this div to make more slides for banner -->
        <img src="{{ self.img1url() }}" class="d-block" alt="{{ self.img1desc() }}">
        <div class="carousel-caption">
          <h1>{{ self.title() }}</h1>
          <h4>Put subtitle here explaining image context OR page content</h4>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="{{ self.img2url() }}" class="d-block" alt="{{ self.img2desc() }}">
        <div class="carousel-caption">
          <h1>{{ self.title() }}</h1>
          <h4>Put subtitle here explaining image context OR page content</h4>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">  <!-- comment out these buttons if there's only one carousel slide -->
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">  <!-- comment out these buttons if there's only one carousel slide -->
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

{% endblock %}
{% block page_content %}

<div class="row my-5">


<body>
    <h2 class="pageTitle">Interlab</h2> <!-- class from UCSC 2022 iGEM collaborations wiki page format cc -->
    <h5>Who ran these experiments?</h5>
    <ul style="font-size: 13px">
        <!-- INLINE CSS BEWARE -->
        <li>Lauren and Haripriya (calibration)</li>
        <li>Lauren (exp 1)</li>
        <li>Chris and Vid (exp 2)</li>
        <br>
        **We would like to acknowledge Angela Brooks and the Brooks Lab for allowing us to use their fluorescent plate
        reader.
    </ul>
    <br>
    <h4 class="sectionHead" style="font-size: 30px">INTRO</h4>
    <!-- class from UCSC 2022 iGEM collaborations wiki page format cc + inline css change BEWARE-->
    <div id="Intro" class="bodyParagraph">
        <!-- https://www.w3schools.com/charsets/ref_html_ascii.asp for ascii-->
        <p>
            A key component of all science and engineering disciplines is the ability to obtain reliable and repeatable
            data [iGEM link]. This year&#39s Interlab Measurement Study is intended to establish a baseline of
            lab-to-lab reproducibility of multi-color fluorescence development over time. In addition to the calibration
            experiment, our team participated in two out of the three Interlab Study experiments. The protocols for
            these experiments, as well as the measurement calibration kit and InterLab devices, were all provided in the
            2022 iGEM distribution. All teams participating in the 2022 iGEM Interlab study were required to use the
            provided materials and transform into the same strain of E. coli (DH5&#945). This minimizes the amount of
            variables between labs, making the only significant difference the 96-well plate reader that is used for
            fluorescent measurements, as there are many different makes and models that teams may use.</p>
    </div>
    <br>
    <h4 class="sectionHead">Methods:</h4>
    <div id="Methods" class="bodyParagraph">
        <p>
            See <a href=https://technology.igem.org/interlabs/2022>iGEM Interlab Study</a> for more details
        <ul>
            <li>Cultivation</li>
            <ul>
                <li>Chloramphenicol media + Plates</li>
                <li>ADD PROTOCOL</li>
            </ul>
            <br>
            <li>Constructs and strains</li>
            <ul>
                <li>Component <a href="">DH5&#945</a> from NEB</li>
            </ul>
            <br>
            <li>Measurement of <abbr title="optical density">OD</abbr> using a plate reader</li>
            <ul>
                <li>Plate Reader - Varioskan&#8482 LUX Multimode Microplate Reader from Thermo Fisher Scientific</li>
                <li>curvette reader</li>
            </ul>
        </ul>
        </p>
    </div>
    <br>
    <h4 class="sectionHead">Calibration Experiment</h4>
    <div id="Caliexp" class="bodyParagraph">
        <p>
            Summary: The three-color calibration protocol was completed prior to beginning any of the experiments. It
            includes making stocks and working solutions, making and measuring serial dilutions of each of the three
            calibrant dyes and the particle calibrant. The main purpose of the Calibration Experiment was to properly
            calibrate the optical density reader for Interlab future experiments [<a href="#">1</a>].
        <ul>
            <li><a href="https://old.igem.org/wiki/images/a/a4/InterLab_2022_-_Calibration_Protocol_v2.pdf">Calibration
                    Protocol</a></li>
            <li><a
                    href="https://docs.google.com/spreadsheets/d/1oPzzd2w2yiIwDRMHkZ7AKZgWHUB7vTwurbi-6FGnf7g/edit#gid=0">Results</a>
            </li>
        </ul>
        </p>
    </div>
    <br>
    <h4 class="sectionHead">Experiment 1</h4>
    <div id="exp1" class="bodyParagraph">
        <p>
            Summary: The purpose of this experiment is to assess the lab-to-lab reproducibility of the new three color
            calibration protocol provided by iGEM [1].
            <br>
            In this experiment, we measured the fluorescence of six devices, or plasmids, that encoded either a single
            fluorescence protein (blue, green, or red) or two fluorescence proteins encoded in two transcriptional
            units. The fluorescence of these devices were calibrated to the three calibrant dyes and the optical density
            of the culture was calibrated to the cell density calibrant. [iGEM citation at the bottom of the page]

        <ul>
            <li><a href="https://old.igem.org/wiki/images/f/f8/InterLab_2022_Exp1.pdf">Experiment 1 Protocol</a></li>
            <li><a
                    href="https://docs.google.com/spreadsheets/d/1y9aWNkCNJhMJgMk7oQVSehGm-QW2qOCpEVgE-hBxfFM/edit#gid=0">Experiment
                    1 Results</a></li>
        </ul>
        </p>
    </div>
    <br>
    <h4 class="sectionHead">Experiment 2</h4>
    <div id="exp2" class="bodyParagraph">
        <p>
            This experiment aims to assess the lab-to-lab reproducibility of the three color calibration protocol when
            two fluorescent proteins are expressed in the same cell. [iGEM citation at the bottom of the page]
            <br>
            In this experiment, we measured the fluorescence of six devices that encode two fluorescence proteins in two
            transcriptional units. The devices differ in the order of the transcriptional units. We calibrated the
            fluorescence of these devices to the calibrant dyes and the optical density of the culture to the cell
            density calibrant. [iGEM citation at the bottom of the page]
        <ul>
            <li><a href="https://old.igem.org/wiki/images/f/ff/InterLab_2022_Exp2.pdf">Experiment 2 Protocol</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1zCy451ArBgkHjdb31OQuUBRFI9nlPoYu/edit#gid=1320044937">Experiment
                    2 Results</a></li>
        </ul>
        </p>
    </div>
    <br>
    <hr class="solid">

    <div id="device" class="bodyParagraph">
        <p>
        <uL>
            <li><a href="https://parts.igem.org/Collections/Interlab_2022">Devices:</a></li>
            <br>

                    <!--https://www.w3schools.com/tags/tag_img.asp-->
                <img class="figureIMG" src="https://static.igem.wiki/teams/4190/wiki/interlab/img-0213.jpeg" alt="plated devices"> 
                <img class="figureIMG" src="https://static.igem.wiki/teams/4190/wiki/interlab/img-0429.jpeg" alt="calibration distribution kit">
                <img class="figureIMG" src="https://static.igem.wiki/teams/4190/wiki/interlab/img-0433.jpeg" alt="chris & vid in the lab">
                
            </li>
            <br>
            <li>Disclaimer** Production issues with the silica beads (Monodisperse Silica Nanoparticles) in the 2022
                iGEM Measurement Calibration Kit affected the optical density calibration; Results may vary from the
                expected measurements</li>
        </uL>
        </p>
    </div>


</body>


{% endblock %}